.idea/
.idea
data/
reports/
.env
.ipynb_checkpoints/
puma-client.json
client_secret.json
python/puma/__pycache__/
.pyc
.lock
.log
.aux
.gz
PuMA\ Units\ +\ SIMS.pdf
PuMA\ Units\ +\ SIMS.csv
PuMA\ Units\ +\ SIMS\ -\ Sheet1.csv
Treatment_Group.csv
Fairbanks\ Fuel\ Meter\ Treatment\ and\ Control\ Groups.xlsx
*.tex
reports/monthly/*
puma_unified_data.nc
